openapi: 3.0.3
info:
  title: Ambient Code Public API
  description: Simplified, versioned REST API gateway for the Ambient Code Platform.
  version: 1.0.0
servers:
  - url: https://public-api-ambient-code.apps.okd1.timslab/v1
    description: Lab OKD cluster
  - url: http://localhost:8081/v1
    description: Local development

security:
  - BearerAuth: []

paths:
  /sessions:
    get:
      summary: List sessions
      operationId: listSessions
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
      responses:
        '200':
          description: List of sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

    post:
      summary: Create a session
      operationId: createSession
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: session-abc123
                  message:
                    type: string
                    example: Session created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

  /sessions/{id}:
    get:
      summary: Get session details
      operationId: getSession
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
        - $ref: '#/components/parameters/SessionID'
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

    delete:
      summary: Delete a session
      operationId: deleteSession
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
        - $ref: '#/components/parameters/SessionID'
      responses:
        '204':
          description: Session deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /sessions/{id}/message:
    post:
      summary: Send a message to a session
      description: Sends a user message to the session, creating a new AG-UI run.
      operationId: sendMessage
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
        - $ref: '#/components/parameters/SessionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '202':
          description: Message accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

  /sessions/{id}/output:
    get:
      summary: Get session output
      description: Returns all AG-UI events for the session. Optionally filter by run_id.
      operationId: getSessionOutput
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
        - $ref: '#/components/parameters/SessionID'
        - name: run_id
          in: query
          required: false
          description: Filter events to a specific run (must be a valid UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Session output events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionOutputResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /sessions/{id}/runs:
    get:
      summary: List runs in a session
      description: Returns a summary of all AG-UI runs in the session.
      operationId: getSessionRuns
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
        - $ref: '#/components/parameters/SessionID'
      responses:
        '200':
          description: List of runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionRunsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /sessions/{id}/start:
    post:
      summary: Start (resume) a session
      description: Resumes a stopped session. The session transitions back to Running.
      operationId: startSession
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
        - $ref: '#/components/parameters/SessionID'
      responses:
        '202':
          description: Start accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /sessions/{id}/stop:
    post:
      summary: Stop a session
      description: >
        Stops a running session. The session's pod is terminated and the session
        transitions to a stopped/completed state. This is a session-level lifecycle
        action — use interrupt instead if you only want to cancel the current run.
      operationId: stopSession
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
        - $ref: '#/components/parameters/SessionID'
      responses:
        '202':
          description: Stop accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/BadGateway'

  /sessions/{id}/interrupt:
    post:
      summary: Interrupt the current run
      description: >
        Sends an interrupt signal to cancel the agent's current execution without
        killing the session. The session remains in Running state and can accept
        new messages. This is equivalent to the red "Stop" button in the chat UI.
      operationId: interruptSession
      parameters:
        - $ref: '#/components/parameters/ProjectHeader'
        - $ref: '#/components/parameters/SessionID'
      responses:
        '200':
          description: Interrupt signal sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Session not in a state that can be interrupted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          $ref: '#/components/responses/BadGateway'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OpenShift token or access key

  parameters:
    ProjectHeader:
      name: X-Ambient-Project
      in: header
      required: true
      description: Target project/namespace
      schema:
        type: string
        pattern: '^[a-z0-9][a-z0-9-]*[a-z0-9]$'
        example: my-project

    SessionID:
      name: id
      in: path
      required: true
      description: Session ID (valid Kubernetes name)
      schema:
        type: string
        pattern: '^[a-z0-9][a-z0-9-]*[a-z0-9]$'
        example: session-abc123

  schemas:
    SessionResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        display_name:
          type: string
        task:
          type: string
        model:
          type: string
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        result:
          type: string
        error:
          type: string

    SessionListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SessionResponse'
        total:
          type: integer

    CreateSessionRequest:
      type: object
      required: [task]
      properties:
        task:
          type: string
          description: The initial prompt / task for the agent
        display_name:
          type: string
        model:
          type: string
        repos:
          type: array
          items:
            type: object
            required: [url]
            properties:
              url:
                type: string
              branch:
                type: string

    SendMessageRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string

    SendMessageResponse:
      type: object
      properties:
        run_id:
          type: string
          format: uuid
        thread_id:
          type: string

    SessionOutputResponse:
      type: object
      properties:
        session_id:
          type: string
        events:
          type: array
          description: Array of AG-UI events
          items:
            type: object

    SessionRunsResponse:
      type: object
      properties:
        session_id:
          type: string
        runs:
          type: array
          items:
            $ref: '#/components/schemas/RunSummary'

    RunSummary:
      type: object
      properties:
        run_id:
          type: string
        started_at:
          type: integer
          format: int64
        finished_at:
          type: integer
          format: int64
        status:
          type: string
          enum: [running, completed, error]
        user_message:
          type: string
        event_count:
          type: integer

    MessageResponse:
      type: object
      properties:
        message:
          type: string
          example: Interrupt signal sent

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

  responses:
    BadRequest:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Backend unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
